<html>
<head>
    <meta http-equiv="Content-Type" content="text/html" >
    <link rel="stylesheet" type="text/css" href="../../genquery/gqstyle.css" />
    <style xmlns="" type="text/css">
        <!--Put CSS overrides in here! -->
    </style>

    <title>GenQuery Error</title>
</head>
<!--
#	Template for showing up Perl errors.  GenQuery will supply the
#	Perl error message and the status report from DBI.
#
#       After public_catalogue.php              J.Wood 11/8/04
#       NERC Environmental Bioinformatics Centre
#       http://nebc.nox.ac.uk
-->
<body>
<div id="banner" align="center">

<!--Banner-->

GenQuery Error<br />
<span class="description"></span>
</div></center>

<h2>Perl Error</h2>

<div class="error">
    <TMPL_VAR NAME="PERL_ERROR">
</div>

<h2>SQL Error</h2>

<div class="error">
    <TMPL_VAR NAME="LAST_DBI_ERROR">
</div>

<h2>Command Run</h2>

<div class="error">
<pre>
<TMPL_VAR NAME="LAST_SQL_COMMAND">
</pre>
</div>

</body>
<!-- C'est ca! -->
